@use "./variables" as *;
@use "./mixins" as *;

p {
  font-size: 0.875rem;
  @include tablet {
    font-size: 1.125rem;
  }
  @include desktop {
    font-size: 1.5rem;
  }
}
strong {
  color: $gromGreen;
}

span {
  font-weight: 700;
}
