@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/global" as *;

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #fff;
}

/* Thesis Section */
.thesis__container {
  text-align: center;
}

.thesis__title {
  font-size: 2rem;
  @include desktop {
    font-size: 4rem;
  }
}

/* Section Styles */
section {
  padding: $mp;
  margin: $mp 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding: $lp;
    margin: $lp 0;
  }

  @include desktop {
    padding: 5rem;
    margin: 5rem 0;
  }
}

/* Background Styling */
// #motivations,
// #optics,
// #software {
//   background: linear-gradient(45deg, #1a1a1a, #333);
// }

/* Shared Section Styles */
.motivations,
.optics,
.software {
  &__text {
    hyphens: none;
    padding: 0 $mp/2;

    @include tablet {
      padding: 0 $lp;
    }
    @include desktop {
      padding: 0 5rem;
    }
  }

  &__container,
  &__container--large {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
    }
  }

  &__image,
  &__image--noborder {
    width: 100%;
    padding: $mp;
  }
}

/* Optics & Software Image Sizes */
.optics,
.software {
  @include tablet {
    &__container--small {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image,
    &__image--noborder {
      width: 20rem;

      @include desktop {
        width: 30rem;
      }
    }
  }
}

/* Adjustments for Software Section */
.software__container--large {
  flex-direction: column;
}

.software__image--large {
  width: 100%;
  padding: $mp;

  @include tablet {
    padding: $lp;
  }
}

/* Optics Image */
.optics__image {
  padding: $mp;
  background-color: white;
  margin: $mp 0;
}

/* Button Styles */
.button {
  margin: $mp * 2 0;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: $black;
  background-color: $gromGreen;
  border: none;
  border-radius: $mp/2;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 $gromGreen, 0 0 80px $gromGreen, 0 0 200px $gromGreen;
  transition: all 2s ease-in-out;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.375rem;
  }

  &:hover {
    box-shadow: 0 0 20px $gromGreen, 0 0 60px $gromGreen, 0 0 100px $gromGreen;
  }

  animation: glowing 2s infinite alternate;
}

/* Glowing Animation */
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px $gromGreen, 0 0 40px $gromGreen, 0 0 80px $gromGreen;
  }
  50% {
    box-shadow: 0 0 20px $gromGreen, 0 0 60px $gromGreen, 0 0 100px $gromGreen;
  }
  100% {
    box-shadow: 0 0 10px $gromGreen, 0 0 40px $gromGreen, 0 0 80px $gromGreen;
  }
}
