p {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.125rem;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 1.5rem;
  }
}

strong {
  color: #adff2f;
}

span {
  font-weight: 700;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #fff;
}

/* Thesis Section */
.thesis__container {
  text-align: center;
}

.thesis__title {
  font-size: 2rem;
}
@media (min-width: 1280px) {
  .thesis__title {
    font-size: 4rem;
  }
}

/* Section Styles */
section {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  section {
    padding: 3rem;
    margin: 3rem 0;
  }
}
@media (min-width: 1280px) {
  section {
    padding: 5rem;
    margin: 5rem 0;
  }
}

/* Background Styling */
/* Shared Section Styles */
.motivations__text,
.optics__text,
.software__text {
  -webkit-hyphens: none;
          hyphens: none;
  padding: 0 0.5rem;
}
@media (min-width: 768px) {
  .motivations__text,
  .optics__text,
  .software__text {
    padding: 0 3rem;
  }
}
@media (min-width: 1280px) {
  .motivations__text,
  .optics__text,
  .software__text {
    padding: 0 5rem;
  }
}
.motivations__container, .motivations__container--large,
.optics__container,
.optics__container--large,
.software__container,
.software__container--large {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .motivations__container, .motivations__container--large,
  .optics__container,
  .optics__container--large,
  .software__container,
  .software__container--large {
    flex-direction: row;
  }
}
.motivations__image, .motivations__image--noborder,
.optics__image,
.optics__image--noborder,
.software__image,
.software__image--noborder {
  width: 100%;
  padding: 1rem;
}

/* Optics & Software Image Sizes */
@media (min-width: 768px) {
  .optics__container--small,
  .software__container--small {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .optics__image, .optics__image--noborder,
  .software__image,
  .software__image--noborder {
    width: 20rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .optics__image, .optics__image--noborder,
  .software__image,
  .software__image--noborder {
    width: 30rem;
  }
}

/* Adjustments for Software Section */
.software__container--large {
  flex-direction: column;
}

.software__image--large {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .software__image--large {
    padding: 3rem;
  }
}

/* Optics Image */
.optics__image {
  padding: 1rem;
  background-color: white;
  margin: 1rem 0;
}

/* Button Styles */
.button {
  margin: 2rem 0;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #adff2f;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 #adff2f, 0 0 80px #adff2f, 0 0 200px #adff2f;
  transition: all 2s ease-in-out;
  animation: glowing 2s infinite alternate;
}
@media (min-width: 768px) {
  .button {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .button {
    font-size: 1.375rem;
  }
}
.button:hover {
  box-shadow: 0 0 20px #adff2f, 0 0 60px #adff2f, 0 0 100px #adff2f;
}

/* Glowing Animation */
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #adff2f, 0 0 40px #adff2f, 0 0 80px #adff2f;
  }
  50% {
    box-shadow: 0 0 20px #adff2f, 0 0 60px #adff2f, 0 0 100px #adff2f;
  }
  100% {
    box-shadow: 0 0 10px #adff2f, 0 0 40px #adff2f, 0 0 80px #adff2f;
  }
}/*# sourceMappingURL=style.css.map */